.center-align {
  margin: auto;
}

.center-text {
  text-align: center;
}

.login-background {
  background: url('../img/LoginBackground.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.detail-background {
  background: url('../img/BestridaSegmentDetail.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title-container {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 50%;
}

.login-container {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.login-text {
  color: #fff;
  font-size: 24px;
}

.login-button {
  background-color: #fc4c02;
  border-color: #fc4c02;
  color: #fff;
}

.challenge-result-header {
    padding: 20px; 
}

.challenge-stats-table {
  margin-left: auto; 
  margin-right: auto;
}

.challenge-stats-table-text {
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
  padding-top: 2.5px; 
  padding-right: 20px; 
  padding-bottom: 2.5px; 
  padding-left: 20px; 
}

.pending-detail-header {
    padding: 20px; 
}

.pending-detail-button {
    padding-top: 80px; 
}

.challenge-stats-table-data {
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
  padding-top: 2.5px; 
  padding-right: 20px; 
  padding-bottom: 20px; 
  padding-left: 5px; 
}
.detail-header {
  color:#fff;
  font-size: 24px;
}
.detail-text {
  color:#fff;
  font-size: 16px;
}
/* header */
.bar.bar-dark {
    background-color: #2B2B2B;
    color: #CCCCCC;
}
.bar.bar-dark .title {
    background-color: #2B2B2B;
    color: #CCCCCC;
}
a.tab-item,.tabs-color-active-assertive, span.tab-title {
  background-color: #191919;
  color: #CCCCCC;
}
/*Date Title*/
.input-label {
  color: #CCCCCC;
}
.item-complex .item-content {
    background-color: #383838;
    border-color: #383838;
    /*color: #CCCCCC;*/
    margin: 10px 0;
}
.item:nth-child(2n+1) {
  background-color: #2B2B2B;
}
.item:last-child {
  margin: 0;
}
.item:first-child {
  background-color: #2B2B2B;
}
.item {
  background-color: #383838;
  border-color: #383838;
  color: #CCCCCC;
}

.item p {
  color: #CCCCCC;
}
.scroll-content {
   background-color: #2B2B2B;
   color: #fff;
}